section#features.features
  .container
    h2.subtitle.features__header(data-translator='features.title') Breathtaking features of Procrastinator
    p.features__slogan(data-translator='features.text')
      | A lot of funny stuff for your joy. Do you need guilty pleasure? Here are lot of them!!
    ul.features__list
      li.features__item
        .features__item-wrapper
          img.features__image(src='assets/images/feature_1.png' width='335' height='217' alt='First procrastinator.')
          h3.features__title(data-translator='features.card.$0-title') A lot of joy
          p.features__text(data-translator='features.card.$0-text')
            | Recharge your battery and relax your brain with a collection of fun ideas
          button.button.button--tertiary(type='button' data-translator='features.card.button') Try now
      li.features__item
        .features__item-wrapper
          img.features__image(src='assets/images/feature_1.png' width='335' height='217' alt='Second procrastinator.')
          h3.features__title(data-translator='features.card.$1-title') From 1 minute to 1 hour
          p.features__text(data-translator='features.card.$1-text')
            | Comfortable variant for any amount of time
          button.button.button--tertiary(type='button' data-translator='features.card.button') Try now
      li.features__item
        .features__item-wrapper
          img.features__image(src='assets/images/feature_1.png' width='335' height='217' alt='Third procrastinator.')
          h3.features__title(data-translator='features.card.$2-title') Available on any device
          p.features__text(data-translator='features.card.$2-text')
            | Works perfect on any devices staring with a tiny smartphone to huge gaming laptop
          button.button.button--tertiary(type='button' data-translator='features.card.button') Try now
