section#features.features
  .container
    h2.subtitle.features__header Breathtaking features of Procrastinator
    p.features__slogan
      | Adipiscing at in tellus integer. Pellentesque massa placerat duis ultricies. Venenatis cras
    ul.features__list
      li.features__item
        .features__item-wrapper
          img.features__image(src='images/feature_1.png' width='335' height='217' alt='First procrastinator.')
          h3.features__title Discuss with Colleagues
          p.features__text
            | Working online is the same experience as work ing in an office. This will be. achieved with..
          button.button.button--secondary(type='button') Try now
      li.features__item
        .features__item-wrapper
          img.features__image(src='images/feature_1.png' width='335' height='217' alt='First procrastinator.')
          h3.features__title Discuss with Colleagues
          p.features__text
            | Working online is the same experience as work ing in an office. This will be. achieved with..
          button.button.button--secondary(type='button') Try now
      li.features__item
        .features__item-wrapper
          img.features__image(src='images/feature_1.png' width='335' height='217' alt='First procrastinator.')
          h3.features__title Discuss with Colleagues
          p.features__text
            | Working online is the same experience as work ing in an office. This will be. achieved with..
          button.button.button--secondary(type='button') Try now
