section#features.features
  .container
    h2.subtitle.features__header(data-translator='features.title') Breathtaking features of Procrastinator
    p.features__slogan(data-translator='features.text')
      | A lot of funny stuff for your joy. Do you need guilty pleasure? Here are lot of them!
    ul.features__list
      li.features__item
        .features__item-wrapper
          img.features__image(src='assets/images/feature_1.png' width='335' height='217' alt='First procrastinator.')
          h3.features__title(data-translator='features.card.$0-title') Discuss with Colleagues
          p.features__text(data-translator='features.card.$0-text')
            | Working online is the same experience as work ing in an office. This will be. achieved with..
          button.button.button--secondary(type='button' data-translator='features.card.button') Try now
      li.features__item
        .features__item-wrapper
          img.features__image(src='assets/images/feature_1.png' width='335' height='217' alt='Second procrastinator.')
          h3.features__title(data-translator='features.card.$1-title') Discuss with Colleagues
          p.features__text(data-translator='features.card.$1-text')
            | Working online is the same experience as work ing in an office. This will be. achieved with..
          button.button.button--secondary(type='button' data-translator='features.card.button') Try now
      li.features__item
        .features__item-wrapper
          img.features__image(src='assets/images/feature_1.png' width='335' height='217' alt='Third procrastinator.')
          h3.features__title(data-translator='features.card.$2-title') Discuss with Colleagues
          p.features__text(data-translator='features.card.$2-text')
            | Working online is the same experience as work ing in an office. This will be. achieved with..
          button.button.button--secondary(type='button' data-translator='features.card.button') Try now
