header.page-header
  nav.page-header__nav.container
    a.logo(href='#' data-translator='header.logo') Procrastinator
    button.button-hamburger(type='button')
      span.visually-hidden Toggle Menu
      span.line.line1
      span.line.line2
      span.line.line3
    ul.header-menu
      li
        a(href='#hero-section' data-translator='header.$0') Intro
      li
        a(href='#features' data-translator='header.$1') Features
      li
        a(href='#procrastinator' data-translator='header.$2') Try it
    .divider 
    form.language-selector
      fieldset
        legend.visually-hidden Choose a language:
        label
          input(type='radio', name='lang', value='en', checked='')
          |  EN
        label
          input(type='radio', name='lang', value='ru')
          |  RU
        label
          input(type='radio', name='lang', value='be')
          |  BE
