section.hero-section#hero-section
  .container.hero-section__wrapper
    .hero-section__image-wrapper
      img.hero-section__image(src='assets/images/hero_image.png' width='566' height='566' alt='A person satisfied with our project.')
    .hero-section__content
      h1.hero-section__title.title(data-translator='hero.title')
        | Explore the future of Procrastination
      p.hero-section__text(data-translator='hero.text') Let&lsquo;s explore and create your own procrastiantion style.
      a.hero-section__button.button.button--secondary(data-translator='hero.button' href='#procrastinator') Get started
      ul.hero-section__features-list
        li
          span.hero-section__features-number 10+
          p.hero-section__features-text(data-translator='hero.features.$0') unqiue ways
        li
          span.hero-section__features-number 500+
          p.hero-section__features-text(data-translator='hero.features.$1') lines of code 
        li
          span.hero-section__features-number 150+
          p.hero-section__features-text(data-translator='hero.features.$2') hours of joy