section.hero-section
  .container.hero-section__wrapper
    .hero-section__content
      h1.hero-section__title.title
        | Explore the future of 
        span.title__accent Procrastination
      p.hero-section__text Let&quot;s explore and create your own procrastiantion style.
      a.hero-section__button.button.button--secondary(type='button') Get started
      ul.hero-section__features-list
        li
          span.hero-section__features-number 10+
          p.hero-section__features-text unqiue ways
        li
          span.hero-section__features-number 500+
          p.hero-section__features-text lines of code 
        li
          span.hero-section__features-number 150+
          p.hero-section__features-text hours of joy
    .hero-section__image-wrapper
      img.hero-section__image(src='assets/images/hero_image.png' width='566' height='566' alt='A person satisfied with our project.')
