section.info
  .container.info__wrapper
    .info__image-wrapper
      img.info__image(src='assets/images/info_image.png' width='532' height='439' alt='Just a plain illustration.')
    //- .info__image-wrapper
    //-   img.info__image(src='assets/images/illustration_2.png' width='286' heigh='300' alt='Just a plain illustration.')
    .info__content
      h2.subtitle.info__content-title(data-translator='info.title') What is Procratinator
      p.info__content-text(data-translator='info.text')
        | What is robot? Robot is a special machine to make your life easier, more comfortable.
        | A brand new robot for your procrastination is here!
      button.button.button--secondary(type='button' data-translator='info.button') Know More
