section#procrastinator.procrastinator
  .container.procrastinator__wrapper
    h2.procrastinator__title.title.title--secondary
      | Choose your 
      span Destiny
    p.procrastinator__description
      | Adipiscing at in tellus integer. Pellentesque massa placerat duis ultricies. Venenatis cras
    .procratinator__list
      .procratinator__item
        .procrastinator__inner-wrapper
          img.procratinator__image(src='https://code.s3.yandex.net/web-code/procrastinate/9.png')
        p.procrastinator__text
          | &Ncy;&iecy; &pcy;&icy;&scy;&acy;&tcy;&softcy; &kcy;&ocy;&dcy;, &acy; 
          span.phrase &chcy;&tcy;&ocy; &bcy;&ycy; &pcy;&ocy;&dcy;&iecy;&lcy;&acy;&tcy;&softcy;?
          img.cursor(src='https://code.s3.yandex.net/web-code/cursor.gif')
    button#button.button.button--secondary(type='button') Next idea
    button#video-button.button(type='button' style='display: none; margin-left: 130px;') Let&apos;s go
