doctype html
html(lang="en" data-theme="light")
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Procrastinator &ndash; Don&apos;t write your code like a pro!
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Orbitron:wght@600;700&display=swap')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap')
    link(rel='stylesheet' href='css/styles.css')
    link(rel='icon' href='https://code.s3.yandex.net/web-code/js-favicon.ico')
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Unbounded:wght@600;700&display=swap")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet")
  body.page__body
    include blocks/header
    main.content
      include blocks/hero
      include blocks/info
      include blocks/features
      include blocks/procrastinator
    script(src='https://code.s3.yandex.net/web-code/smoothly.js')
    script(src='translator.js')
    script(src='scripts.js') 