/* Basic styles */
.page__body {
  background-color: #010208;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
}

/* Common elements */
.container {
  padding-inline: 120px;
  width: 95%;
}

.title {
  font-family: 'Orbitron', Arial, Helvetica, sans-serif;
  font-size: 45px;
  line-height: 68px;
  font-weight: 600;
}

.subtitle {
}

/* Header */
.page-header__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.page-header {
}
.page-header__nav {
}

.hero-section {
}
.hero-section__content {
}
.hero-section__title {
}
.hero-section__text {
}
.hero-section__features {
}
.hero-section__image-wrapper {
}
.hero-section__image {
}
.info {
}
.info__images {
}
.info__content {
}
.features {
}
.features__list {
}
.features__item {
}
.features__item-wrapper {
}
.features__image {
}
.features__title {
}
.features__text {
}
.procratinator__list {
}
.procratinator__item {
}
.wrapper {
}
.procratinator__image {
}
.phrase {
}